/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* colors
button, highlights etc: #5964E0
text gray: #6E8098
background: #F4F6F8 */

body {
  height: 100vh;
  margin: 0;
  background-color: #F4F6F8;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: clamp(75%, 90%, 75%);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-div {
  width: 90%;
  align-self: flex-start;
  margin: auto;
  margin-top: 0px;
  justify-self: center;
  margin-top: 50px;
}

h1 {
  color: white;
  justify-self: flex-start;
  align-self: flex-start;
}

h2 {
  margin-top:0;
  margin-bottom: 0;
}

.post {
  background-color: #FFFFFF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gray-text {
  color:#6E8098;
}


.jobPosting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 90%;
}

.filterForm {
  width: 90%;
  height: 50px;
  margin-bottom: 60px;
  display: grid;
  border-radius: 5px;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  background-color: white;
  box-sizing: border-box;
  padding: 15px;
}

label {
  margin: auto;
  font-weight: bold;
}

.header-img {
  position:absolute;
  top: 0px;
  z-index: -1;
}

.search-btn {
  background-color: #5964E0;
  border-radius: 5px;
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.location{
  justify-self: flex-end;
  margin-top: auto;
  font-weight: bold;
  color: #5964E0;
}

.company {
  margin-bottom: 40px;
}