@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Kumbh Sans";
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #f4f6f8;
}

.header-div {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px 72px;
  background-color: #5964e0;
  background-image: url("./../logos/triangle-bg-img.svg"),
    url("./../logos/triangle-bg-img.svg");
  background-position: top 30px right 50px, left 240px bottom 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
.mobileFilterMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.locationFilterInput,
.contractLabel {
  display: none;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
}

.lightDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: end;
  height: 40px;
}

.themeSwitch {
  appearance: none;
  background-color: white;
  height: 24px;
  width: 48px;
  display: inline-flex;
  margin: 0;
  border-radius: 999px;
  box-sizing: border-box;
  padding: 5px;
  color: #848ead;
}

.themeSwitch:after {
  content: "";
  background-color: #5964e0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.themeSwitch:checked {
  justify-content: end;
}

.post {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 6px;
  position: relative;
}

.jobPosting {
  display: grid;
  position: absolute;
  top: 233px;
  margin-inline: 24px;
  gap: 49px;
  /* grid-template-columns: repeat(3, 1fr); desktop */
  /* gap: 40px;  desktop*/
}

.titleFilterInput {
  border: none;
  min-width: 150px;
}

.filterForm {
  display: flex;
  /* width: 100%; */
  position: absolute;
  top: 96px;
  background-color: white;
  border-radius: 6px;
  margin-inline: 24px;
  padding-inline: 24px;
}

.openFilterBtn,
.search-btn {
  margin-block: 16px;
  padding: 14px;
}

.search-btn {
  border: none;
  background-color: #5964e0;
  border-radius: 5px;
}

.openFilterBtn {
  border: none;
  background-color: transparent;
  margin-right: 10px;
}
